# Đề bài về nhà

## Yêu cầu

- Tự viết code cho mô hình Linear Regression theo công thức đã được dạy trong buổi lý thuyết trên lớp.
- Tự viết hàm dự đoán.
- Huấn luyện cả mô hình của thư viện và mô hình mình tự viết.
- In ra các trọng số: w0, w1, w2, ..., wn của cả 2 mô hình đã huấn luyện để quan sát và so sánh.
- Dự đoán dữ liệu tập test bằng cả 2 mô hình (mô hình thư viện thì dùng hàm predict() của thư viện, mô hình tự viết dùng hàm dự đoán tự viết), in ra kết quả bằng Dataframe như trong bài thực hành trên lớp.
- Tính RMSE trên tập test cho cả 2 mô hình và so sánh.

## Dữ liệu

Tập dữ liệu giá nhà ở Boston đã có sẵn trên sklearn, dữ liệu đã được chuẩn hóa và chia thành tập train, tập test

In [117]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
import math 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

from sklearn import datasets, linear_model
from sklearn.datasets import fetch_openml
from sklearn.metrics import mean_squared_error, r2_score

# Đọc dữ liệu 

Dữ liệu về giá nhà ở Boston được hỗ trợ bởi sklearn, đọc dữ liệu thông qua hàm `datasets.load_boston()` 

Xem thêm các bộ dữ liệu khác tại https://scikit-learn.org/stable/datasets/index.html#toy-datasets. 

Dữ liệu được chia thành các thành phần data và target như tập diabetes. Dữ liệu cũng đã được chuẩn hóa, chỉ cần gọi ra và huấn luyện

In [118]:
# lay du lieu dataset - du lieu ve giá nhà
dataset = fetch_openml(name="house_prices", as_frame=True)
print("Số chiều dữ liệu input: ", dataset.data.shape)
print("Số chiều dữ liệu target: ", dataset.target.shape)
print()

print("5 mẫu dữ liệu đầu tiên:")
print("input: ", dataset.data[:5])
print("target: ",dataset.target[:5])

Số chiều dữ liệu input:  (1460, 80)
Số chiều dữ liệu target:  (1460,)

5 mẫu dữ liệu đầu tiên:
input:     Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... ScreenPorch PoolArea PoolQC Fence MiscFeature  \
0         Lvl    AllPub  ...           0        0    NaN   NaN         NaN
1         Lvl    AllPub  ...           0        0    NaN   NaN         NaN
2         Lvl    AllPub  ...           0        0    NaN   NaN         NaN
3         Lvl    AllPub  ...           0        0    NaN   NaN         NaN
4         Lvl    AllPub  ...           0        0    NaN   NaN         NaN

  MiscVal MoSold  YrSold  SaleType  SaleCondition
0       0      2    2008        WD         Normal
1       0      5    2007        WD         Normal
2       0      9    2008        WD         Normal
3       0      2    2006        WD        Abnorml
4       0     12    2008        WD         Normal

[5 rows x 80 columns]
target:  0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

**Chia dữ liệu làm 2 phần training 362 mẫu và testing 80 mẫu**

In [119]:
# cat nho du lieu, lay 1 phan cho qua trinh thu nghiem,
# chia train test cac mau du lieu
# dataset_X = dataset.data[:, np.newaxis, 2]
dataset_X = dataset.data

In [120]:
dataset_X

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal

In [121]:
dataset_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
dtypes: float64(3), int64(34), object(43)
memory usage: 912.6+ KB

In [122]:
for col in dataset_X.columns:
    print(dataset_X[col].value_counts())

Id
1       1
982     1
980     1
979     1
978     1
       ..
485     1
484     1
483     1
482     1
1460    1
Name: count, Length: 1460, dtype: int64
MSSubClass
20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: count, dtype: int64
MSZoning
RL           1151
RM            218
FV             65
RH             16
'C (all)'      10
Name: count, dtype: int64
LotFrontage
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
137.0      1
141.0      1
38.0       1
140.0      1
46.0       1
Name: count, Length: 110, dtype: int64
LotArea
7200     25
9600     24
6000     17
9000     14
8400     14
         ..
14601     1
13682     1
4058      1
17104     1
9717      1
Name: count, Length: 1073, dtype: int64
Street
Pave    1454
Grvl       6
Name: count, dtype: int64
Alley
Grvl    50
Pave    41
Name: count, dtype: int64
LotShape
Reg    925
IR1    484
IR2     41
IR3     10
Name: count, dtype: int64
LandContour
Lvl    1311
Bnk      63
HLS      50
Low      36
Name: count, dtype: int64
Utilities
AllPub    1459
NoSeWa       1
Name: count, dtype: int64
LotConfig
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: count, dtype: int64
LandSlope
Gtl    1382
Mod      65
Sev      13
Name: count, dtype: int64
Neighborhood
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: count, dtype: int64
Condition1
Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: count, dtype: int64
Condition2
Norm      1445
Feedr        6
Artery       2
RRNn         2
PosN         2
PosA         1
RRAn         1
RRAe         1
Name: count, dtype: int64
BldgType
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: count, dtype: int64
HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64
OverallQual
5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: count, dtype: int64
OverallCond
5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: count, dtype: int64
YearBuilt
2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1875     1
1911     1
1917     1
1872     1
1905     1
Name: count, Length: 112, dtype: int64
YearRemodAdd
1950    178
2006     97
2007     76
2005     73
2004     62
       ...
2010      6
1986      5
1952      5
1983      5
1951      4
Name: count, Length: 61, dtype: int64
RoofStyle
Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: count, dtype: int64
RoofMatl
CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: count, dtype: int64
Exterior1st
VinylSd      515
HdBoard      222
MetalSd      220
'Wd Sdng'    206
Plywood      108
CemntBd       61
BrkFace       50
WdShing       26
Stucco        25
AsbShng       20
BrkComm        2
Stone          2
AsphShn        1
ImStucc        1
CBlock         1
Name: count, dtype: int64
Exterior2nd
VinylSd      504
MetalSd      214
HdBoard      207
'Wd Sdng'    197
Plywood      142
CmentBd       60
'Wd Shng'     38
Stucco        26
BrkFace       25
AsbShng       20
ImStucc       10
'Brk Cmn'      7
Stone          5
AsphShn        3
Other          1
CBlock         1
Name: count, dtype: int64
MasVnrType
None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: count, dtype: int64
MasVnrArea
0.0      861
180.0      8
72.0       8
108.0      8
120.0      7
        ...
562.0      1
89.0       1
921.0      1
762.0      1
119.0      1
Name: count, Length: 327, dtype: int64
ExterQual
TA    906
Gd    488
Ex     52
Fa     14
Name: count, dtype: int64
ExterCond
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: count, dtype: int64
Foundation
PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: count, dtype: int64
BsmtQual
TA    649
Gd    618
Ex    121
Fa     35
Name: count, dtype: int64
BsmtCond
TA    1311
Gd      65
Fa      45
Po       2
Name: count, dtype: int64
BsmtExposure
No    953
Av    221
Gd    134
Mn    114
Name: count, dtype: int64
BsmtFinType1
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: count, dtype: int64
BsmtFinSF1
0       467
24       12
16        9
686       5
662       5
       ...
1338      1
1324      1
1460      1
328       1
830       1
Name: count, Length: 637, dtype: int64
BsmtFinType2
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: count, dtype: int64
BsmtFinSF2
0       1293
180        5
374        3
551        2
147        2
        ...
532        1
165        1
1120       1
311        1
1029       1
Name: count, Length: 144, dtype: int64
BsmtUnfSF
0       118
728       9
384       8
600       7
300       7
       ...
551       1
1257      1
605       1
467       1
136       1
Name: count, Length: 780, dtype: int64
TotalBsmtSF
0       37
864     35
672     17
912     15
1040    14
        ..
1838     1
1581     1
707      1
611      1
1542     1
Name: count, Length: 721, dtype: int64
Heating
GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: count, dtype: int64
HeatingQC
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: count, dtype: int64
CentralAir
Y    1365
N      95
Name: count, dtype: int64
Electrical
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: count, dtype: int64
1stFlrSF
864     25
1040    16
912     14
894     12
848     12
        ..
1509     1
2515     1
605      1
3138     1
1256     1
Name: count, Length: 753, dtype: int64
2ndFlrSF
0       829
728      10
504       9
546       8
672       8
       ...
1538      1
914       1
1067      1
1000      1
1152      1
Name: count, Length: 417, dtype: int64
LowQualFinSF
0      1434
80        3
360       2
205       1
479       1
397       1
514       1
120       1
481       1
232       1
53        1
515       1
156       1
473       1
420       1
390       1
371       1
392       1
144       1
572       1
528       1
234       1
513       1
384       1
Name: count, dtype: int64
GrLivArea
864     22
1040    14
894     11
1456    10
848     10
        ..
2296     1
1123     1
1199     1
1473     1
1256     1
Name: count, Length: 861, dtype: int64
BsmtFullBath
0    856
1    588
2     15
3      1
Name: count, dtype: int64
BsmtHalfBath
0    1378
1      80
2       2
Name: count, dtype: int64
FullBath
2    768
1    650
3     33
0      9
Name: count, dtype: int64
HalfBath
0    913
1    535
2     12
Name: count, dtype: int64
BedroomAbvGr
3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: count, dtype: int64
KitchenAbvGr
1    1392
2      65
3       2
0       1
Name: count, dtype: int64
KitchenQual
TA    735
Gd    586
Ex    100
Fa     39
Name: count, dtype: int64
TotRmsAbvGrd
6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
2       1
14      1
Name: count, dtype: int64
Functional
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: count, dtype: int64
Fireplaces
0    690
1    650
2    115
3      5
Name: count, dtype: int64
FireplaceQu
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: count, dtype: int64
GarageType
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: count, dtype: int64
GarageYrBlt
2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1927.0     1
1900.0     1
1906.0     1
1908.0     1
1933.0     1
Name: count, Length: 97, dtype: int64
GarageFinish
Unf    605
RFn    422
Fin    352
Name: count, dtype: int64
GarageCars
2    824
1    369
3    181
0     81
4      5
Name: count, dtype: int64
GarageArea
0      81
440    49
576    47
240    38
484    34
       ..
320     1
594     1
831     1
878     1
192     1
Name: count, Length: 441, dtype: int64
GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64
GarageCond
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: count, dtype: int64
PavedDrive
Y    1340
N      90
P      30
Name: count, dtype: int64
WoodDeckSF
0      761
192     38
100     36
144     33
120     31
      ...
326      1
179      1
103      1
176      1
736      1
Name: count, Length: 274, dtype: int64
OpenPorchSF
0      656
36      29
48      22
20      21
40      19
      ...
11       1
523      1
125      1
137      1
236      1
Name: count, Length: 202, dtype: int64
EnclosedPorch
0      1252
112      15
96        6
192       5
144       5
       ...
54        1
136       1
148       1
140       1
99        1
Name: count, Length: 120, dtype: int64
3SsnPorch
0      1436
168       3
144       2
180       2
216       2
290       1
153       1
96        1
23        1
162       1
182       1
196       1
320       1
245       1
238       1
508       1
140       1
130       1
407       1
304       1
Name: count, dtype: int64
ScreenPorch
0      1344
192       6
120       5
224       5
189       4
       ...
291       1
260       1
385       1
156       1
40        1
Name: count, Length: 76, dtype: int64
PoolArea
0      1453
512       1
648       1
576       1
555       1
480       1
519       1
738       1
Name: count, dtype: int64
PoolQC
Gd    3
Ex    2
Fa    2
Name: count, dtype: int64
Fence
MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: count, dtype: int64
MiscFeature
Shed    49
Gar2     2
Othr     2
TenC     1
Name: count, dtype: int64
MiscVal
0        1408
400        11
500         8
700         5
450         4
600         4
2000        4
1200        2
480         2
15500       1
800         1
350         1
3500        1
1300        1
54          1
620         1
560         1
1400        1
8300        1
1150        1
2500        1
Name: count, dtype: int64
MoSold
6     253
7     234
5     204
4     141
8     122
3     106
10     89
11     79
9      63
12     59
1      58
2      52
Name: count, dtype: int64
YrSold
2009    338
2007    329
2006    314
2008    304
2010    175
Name: count, dtype: int64
SaleType
WD       1267
New       122
COD        43
ConLD       9
ConLI       5
ConLw       5
CWD         4
Oth         3
Con         2
Name: count, dtype: int64
SaleCondition
Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: count, dtype: int64

In [123]:
dataset_X = dataset_X.drop(columns = ["Id", "Alley", "Fireplaces", "PoolQC", "Fence", "MiscFeature", "Street", "Utilities", "BsmtHalfBath", "GarageCond", "PavedDrive"])

In [124]:
encoder = LabelEncoder()

In [125]:
for col in dataset_X.columns:
    if dataset_X[col].dtype == object:
        dataset_X[col] = encoder.fit_transform(dataset_X[col])

In [126]:
dataset_X

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,3,65.0,8450,3,3,4,0,5,2,...,61,0,0,0,0,0,2,2008,8,4
1,20,3,80.0,9600,3,3,2,0,24,1,...,0,0,0,0,0,0,5,2007,8,4
2,60,3,68.0,11250,0,3,4,0,5,2,...,42,0,0,0,0,0,9,2008,8,4
3,70,3,60.0,9550,0,3,0,0,6,2,...,35,272,0,0,0,0,2,2006,8,0
4,60,3,84.0,14260,0,3,2,0,15,2,...,84,0,0,0,0,0,12,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,3,3,4,0,8,2,...,40,0,0,0,0,0,8,2007,8,4
1456,20,3,85.0,13175,3,3,4,0,14,2,...,0,0,0,0,0,0,2,2010,8,4
1457,70,3,66.0,9042,3,3,4,0,6,2,...,60,0,0,0,0,2500,5,2010,8,4
1458,20,3,68.0,9717,3,3,4,0,12,2,...,0,112,0,0,0,0,4,2010,8,4
1459,20,3,75.0,9937,3,3,4,0,7,2,...,68,0,0,0,0,0,6,2008,8,4

In [127]:
for col in dataset_X.columns:
    dataset_X[col] = dataset_X[col].fillna(dataset_X[col].mean())

In [128]:
dataset_X_train = dataset_X[:1168]
dataset_y_train = dataset.target[:1168]

dataset_X_test = dataset_X[1168:]
dataset_y_test = dataset.target[1168:]

print(dataset_X_train.shape)
print(dataset_X_test.shape)

(1168, 69)
(292, 69)

In [129]:
scaler.fit_transform(dataset_X_train)
scaler.fit_transform(dataset_X_test)

array([[ 0.30332039, -0.07982944,  2.00976078, ...,  0.14815939,
         0.27555828,  0.18006003],
       [ 0.0623148 , -0.07982944,  1.92873968, ..., -1.31836743,
         0.27555828,  0.18006003],
       [ 0.54432597, -0.07982944,  0.22729642, ...,  0.14815939,
         0.27555828,  0.18006003],
       ...,
       [ 0.30332039, -0.07982944, -0.17780912, ...,  1.61468621,
         0.27555828,  0.18006003],
       [-0.90170754, -0.07982944, -0.09678801, ...,  1.61468621,
         0.27555828,  0.18006003],
       [-0.90170754, -0.07982944,  0.18678587, ...,  0.14815939,
         0.27555828,  0.18006003]])

In [139]:
dataset_X_train

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,3,65.000000,8450,3,3,4,0,5,2,...,61,0,0,0,0,0,2,2008,8,4
1,20,3,80.000000,9600,3,3,2,0,24,1,...,0,0,0,0,0,0,5,2007,8,4
2,60,3,68.000000,11250,0,3,4,0,5,2,...,42,0,0,0,0,0,9,2008,8,4
3,70,3,60.000000,9550,0,3,0,0,6,2,...,35,272,0,0,0,0,2,2006,8,0
4,60,3,84.000000,14260,0,3,2,0,15,2,...,84,0,0,0,0,0,12,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1163,90,3,60.000000,12900,3,3,4,0,19,1,...,0,0,0,0,0,0,1,2008,8,2
1164,80,3,70.049958,16157,0,3,2,0,24,1,...,180,0,0,0,0,0,6,2007,8,4
1165,20,3,79.000000,9541,0,3,4,0,16,2,...,114,0,0,0,0,0,9,2009,6,5
1166,20,3,64.000000,10475,0,3,0,0,5,2,...,33,0,0,0,0,0,2,2010,8,4
1167,60,3,58.000000,10852,0,3,4,0,8,6,...,38,0,0,0,0,0,2,2006,8,4

# Xây dựng mô hình

## Xây dựng mô hình bằng thư viện

In [130]:
model = linear_model.LinearRegression()

## Xây dựng mô hình Linear Regression tự viết

In [131]:
def linear_regression(dataset_X_train,dataset_y_train):
    one = np.ones((dataset_X_train.shape[0],1))
    Xbar = np.concatenate((one, dataset_X_train), axis = 1)

    A = np.dot(Xbar.T, Xbar)
    b = np.dot(Xbar.T, dataset_y_train)
    w_lr = np.dot(np.linalg.pinv(A), b)
    coef = w_lr[1:]
    intercept = w_lr[0]
    return coef, intercept

## Hàm test mô hình tự viết

In [155]:
def predict(intercept, coef, dataset_X_test):
    y_pred_ = [intercept] + coef.dot(dataset_X_test[0].T)
    for i in range(1, len(dataset_X_test)):
        y_pred = intercept + coef.dot(dataset_X_test[i].T)
        y_pred_= np.append(y_pred_,y_pred)
    return y_pred_

# Huấn luyện mô hình

## Huấn luyện mô hình của thư viện

In [133]:
model.fit(dataset_X_train, dataset_y_train)
print(model.coef_)
print(model.intercept_)

[-8.07035396e+01  2.91568324e+02  6.56465947e+01  4.63988970e-01
 -2.00639260e+02  1.17874201e+03  5.09515502e+01  2.30348966e+03
  3.37244035e+02 -2.02410143e+03 -1.17441167e+04 -1.90241836e+03
 -2.46341350e+02  9.87945534e+03  5.01391037e+03  3.01193793e+02
  8.66113765e+01  1.33673879e+01  2.87596128e+03  2.32671927e+02
 -2.09499319e+02  4.54165116e+03  2.80242549e+01 -8.53814248e+03
  1.20798309e+03  2.38798662e+03 -6.12815049e+03  2.92201730e+03
 -1.67178072e+03  8.02735525e+01  1.31643979e+01  8.45721097e+02
  1.12247785e+01 -5.70401380e+00  1.86851625e+01  1.69960158e+03
 -9.32536374e+02 -2.10957683e+03 -4.90245124e+02  2.15399404e+01
  1.73598077e+01 -1.01139060e+01  2.87858421e+01  1.83818468e+03
  2.63950111e+03  2.14094004e+03 -7.39934044e+03 -1.63667385e+04
 -7.21268981e+03  5.37476219e+03  3.77242976e+03 -2.10561123e+03
  2.05812639e+03 -3.48514453e+01  2.95812827e+02  1.99111762e+03
  1.94497759e+01  1.17523182e+03  1.71762864e+01 -2.23604219e+01
  9.82541146e+00  6.65496375e-01  6.18006257e+01 -4.43130002e+01
  3.71482946e-01 -6.34538854e+02 -1.31127213e+03 -8.57571909e+02
  3.77808951e+03]
1929291.7101869115

## Training mô hình bằng Linear regression tự viết

In [134]:
coef, intercept = linear_regression(dataset_X_train, dataset_y_train)
print(coef)
print(intercept)

[-8.07035425e+01  2.91568307e+02  6.56465962e+01  4.63988970e-01
 -2.00639237e+02  1.17874204e+03  5.09515343e+01  2.30348964e+03
  3.37244041e+02 -2.02410142e+03 -1.17441168e+04 -1.90241828e+03
 -2.46341298e+02  9.87945536e+03  5.01391036e+03  3.01193787e+02
  8.66113756e+01  1.33674040e+01  2.87596123e+03  2.32671929e+02
 -2.09499321e+02  4.54165125e+03  2.80242550e+01 -8.53814261e+03
  1.20798306e+03  2.38798668e+03 -6.12815047e+03  2.92201740e+03
 -1.67178068e+03  8.02735503e+01  1.31632693e+01  8.45721082e+02
  1.12236499e+01 -5.70514236e+00  1.86862911e+01  1.69960156e+03
 -9.32536389e+02 -2.10957684e+03 -4.90245073e+02  2.15403621e+01
  1.73602294e+01 -1.01134845e+01  2.87854203e+01  1.83818482e+03
  2.63950126e+03  2.14094013e+03 -7.39934044e+03 -1.63667385e+04
 -7.21268983e+03  5.37476216e+03  3.77242977e+03 -2.10561120e+03
  2.05812640e+03 -3.48514475e+01  2.95812793e+02  1.99111753e+03
  1.94497760e+01  1.17523191e+03  1.71762868e+01 -2.23604229e+01
  9.82541115e+00  6.65497257e-01  6.18006261e+01 -4.43130028e+01
  3.71482937e-01 -6.34538894e+02 -1.31127273e+03 -8.57571920e+02
  3.77808952e+03]
1929292.9187908396

# Dự đoán các mẫu dữ liệu

## Dự đoán các mẫu dữ liệu theo mô hình của thư viện

In [135]:
dataset_y_pred_lib = model.predict(dataset_X_test)
pd.DataFrame(data = np.array([dataset_y_test, dataset_y_pred_lib,
                              abs(dataset_y_pred_lib - dataset_y_test)]).T,
                              columns = ["Thực tế", "Dự đoán", "Lệch"])

      Thực tế        Dự đoán           Lệch
0    235000.0  203896.534538   31103.465462
1    625000.0  454933.643886  170066.356114
2    171000.0  117553.423993   53446.576007
3    163000.0  167271.808983    4271.808983
4    171900.0  168324.284065    3575.715935
..        ...            ...            ...
287  175000.0  171675.836789    3324.163211
288  210000.0  222533.992976   12533.992976
289  266500.0  247575.628661   18924.371339
290  142125.0  146225.496363    4100.496363
291  147500.0  161911.830889   14411.830889

[292 rows x 3 columns]

## Dự đoán các mẫu dữ liệu tính theo linear regression tự viết

In [147]:
dataset_X_test

,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1168,70,3,120.0,13728,3,3,0,0,7,2,...,0,0,0,90,0,0,7,2008,8,4
1169,60,3,118.0,35760,0,3,1,0,15,2,...,76,0,0,0,0,0,7,2006,8,4
1170,80,3,76.0,9880,3,3,4,0,11,2,...,0,0,0,0,576,0,7,2008,8,4
1171,20,3,76.0,9120,3,3,4,0,12,2,...,0,0,0,288,0,1400,11,2008,8,4
1172,160,1,35.0,4017,0,3,4,0,21,2,...,54,0,0,0,0,0,3,2008,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,3,3,4,0,8,2,...,40,0,0,0,0,0,8,2007,8,4
1456,20,3,85.0,13175,3,3,4,0,14,2,...,0,0,0,0,0,0,2,2010,8,4
1457,70,3,66.0,9042,3,3,4,0,6,2,...,60,0,0,0,0,2500,5,2010,8,4
1458,20,3,68.0,9717,3,3,4,0,12,2,...,0,112,0,0,0,0,4,2010,8,4
1459,20,3,75.0,9937,3,3,4,0,7,2,...,68,0,0,0,0,0,6,2008,8,4

In [156]:
dataset_y_pred = predict(intercept, coef, np.array(dataset_X_test))
pd.DataFrame(data=np.array([dataset_y_test, dataset_y_pred,
                            abs(dataset_y_test - dataset_y_pred)]).T,
             columns=["Thực tế", "Dự đoán", "Lệch"])

      Thực tế        Dự đoán           Lệch
0    235000.0  203896.534861   31103.465139
1    625000.0  454933.645259  170066.354741
2    171000.0  117553.422518   53446.577482
3    163000.0  167271.809089    4271.809089
4    171900.0  168324.284359    3575.715641
..        ...            ...            ...
287  175000.0  171675.837138    3324.162862
288  210000.0  222533.992075   12533.992075
289  266500.0  247575.627843   18924.372157
290  142125.0  146225.495453    4100.495453
291  147500.0  161911.831490   14411.831490

[292 rows x 3 columns]

## Đánh giá mô hình linear regression của thư viện

In [157]:
loss = math.sqrt(mean_squared_error(dataset_y_test, dataset_y_pred_lib))
loss

47388.07068142908

## Đánh giá mô hình linear regression tự viết

In [158]:
loss = math.sqrt(mean_squared_error(dataset_y_test, dataset_y_pred))
loss

47388.07069534216